<h4>{{msg}}</h4>
<h2>Payment</h2>
<form ng-submit="createPayment()" class="createForm">
<span>Date:</span><input type="date" ng-model="payment.date" data-date-format="mm/dd/yyyy"><br />
<span>Tenant:</span><select ng-model="payment.lease" ng-options='(lease.tenant.first_name+" "+lease.tenant.last_name) for lease in leases track by lease.id'></select> <br/>
<span>Payment Type:</span><select ng-model="payment.paymentType" ng-options='paymentType.type for paymentType in paymentTypes track by paymentType.id'></select> <br/>
<span>Amount:</span><input type="text" ng-model="payment.amount"><br />
<button type="submit" >Submit</button>
</form>
