<h4>{{msg}}</h4>
<h2>Payments</h2>
<form ng-submit="clearPayments()">
<table class="listTable">
    <tr ng-repeat="payment in payments">
      <td>{{payment.date | date : "MM-dd-yyyy"}}</td>
      <td>${{payment.amount}}</td>
      <td>{{payment.payment_type.type}}</td>
      <td>{{payment.manager.name}}</td>
      <td>{{payment.lease.tenant.first_name}} {{payment.lease.tenant.last_name}}
      <br/>{{payment.lease.rental_unit.address.street}} <span ng-if="payment.lease.rental_unit.address.apartment">Apt {{payment.lease.rental_unit.address.apartment}}</span>
      {{payment.lease.rental_unit.address.city}} {{payment.lease.rental_unit.address.state}} {{payment.lease.rental_unit.address.zip}} </td>
      <td ng-show="action==='clear'">Clear? <input ng-model="payment.cleared" ng-true-value="1" ng-click="payment.changed=true" type="checkbox"/></td>
      <td ng-show="action!=='clear'"><a href ng-click="deletePayment(payment)">Delete<a>
    </tr>
</table>
<button  ng-show="action==='clear'" type="submit"  class="btn btn-success">Submit</button>
</form>
