<h4>{{msg}}</h4>



<form ng-submit="createReport()" class="createForm">


<span>Apt. No.</span><input type="text" ng-model="report.apt_number"><br />
<span>Tenant:</span><input type="text" ng-model="report.tenant"><br />
<span>Premises:</span><input type="text" ng-model="report.Premises"><br />
<span>1.</span><input type="text" ng-model="report.one"><br />
<span>2.</span><input type="text" ng-model="report.two"><br />
<span>3.</span><input type="text" ng-model="report.three"><br />
<span>3. Surcharge</span><input type="text" ng-model="report.threeA"><br />
<span>CurrentRent:</span><input type="text" ng-model="report.current_rent"><br />
<span>Changed(new)Rental Amount:</span><input type="text" ng-model="report.changed_rent"><br />
<span>CurrentRentDueDate</span><input type="text" ng-model="report.current_rent_due_date"><br />
<span>First New Rent  Due Date:</span><input type="text" ng-model="report.first_new_rent_due_date"><br />

<span>4.</span><input type="text" ng-model="report.four"><br />
<span>State Specific Changes:</span><input type="text" ng-model="report.four_line_one"><br />
<span></span><input type="text" ng-model="report.four_line_two"><br />
<span></span><input type="text" ng-model="report.four_line_three"><br />
<span>Dated:</span><input type="text" ng-model="report.dated"><br />

<button type="submit"  class="btn btn-success">Submit</button>
</form>
