<style>
.leaseTable td, th{
  padding: 10;
}
</style>

<h4>{{msg}}</h4>
Leases
<table>
  <tr>
    <th>Tenant</th>
    <th>Rental Unit</th>
    <th>Rent</th>
    <th>Deposit</th>
    <th>Late Charge</th>
    <th>Return Check Charge</th>
    <th>Start Date</th>
    <th>Late Charge Days</th>
    <th>Term</th>
    <th>Owed </th>
  </tr>
    <tr class="leaseTable" ng-repeat="lease in leases">
      <td>{{lease.tenant.first_name}} {{lease.tenant.last_name}}</td>
      <td>{{lease.rental_unit.name}} <br/> {{lease.rental_unit.address.street}}  <span ng-if="lease.rental_unit.address.apartment">Apt {{lease.rental_unit.address.apartment}}</span> </td>
      <td>{{lease.rent}}</td>
      <td>{{lease.deposit}}</td>
      <td>{{lease.late_charge}}</td>
      <td>{{lease.return_check}}</td>
      <td>{{lease.start_date}}</td>
      <td>{{lease.late_charge_days}}</td>
      <td>{{lease.term}}</td>
      <td>{{lease.owed}}</td>
      <td><a href  ng-show="lease.pdf" ng-click="downloadPDF(lease)">Pdf<a>
      <a href ng-click="deleteLease(lease)">Delete<a></td>
    </tr>
</table>
