<h4 class="errorMessage">{{error}}</h4>
<a href ng-click="ApplianceTypeShow= ((ApplianceTypeShow==undefined || ApplianceTypeShow==false) ? true : false)">
<i ng-hide="ApplianceTypeShow" class="fa fa-chevron-right" aria-hidden="true"></i><i ng-show="ApplianceTypeShow" class="fa fa-chevron-down" aria-hidden="true"></i></a>
<h3 class="applianceHeader">Appliance Types</h3>
<div ng-show="ApplianceTypeShow">
  <div class="multiColList" ng-repeat="type in applianceTypes">
  <span>{{type.type}}</span><a href ng-click="deleteApplianceType(type)">Delete</a>
  </div>
  <form ng-submit="createApplianceType()" class="createForm">
  <span>Appliance Type:</span><input type="text" ng-model="applianceType.type">
  <button type="submit">Add</button> <br/>
  </form>
</div> <br/>
<a href ng-click="ApplianceManuShow= ((ApplianceManuShow==undefined || ApplianceManuShow==false) ? true : false)">
<i ng-hide="ApplianceManuShow" class="fa fa-chevron-right" aria-hidden="true"></i><i ng-show="ApplianceManuShow" class="fa fa-chevron-down" aria-hidden="true"></i></a>
<h3 class="applianceHeader">Manufacturers</h3>
<div ng-show="ApplianceManuShow">
  <div class="multiColList" ng-repeat="manufacturer in applianceManufacturers">
  <span>{{manufacturer.name}}</span><a href ng-click="deleteManufacturer(manufacturer)">Delete</a>
  </div>
  <form ng-submit="createManufacturer()" class="createForm">
  <span>Manufacturer Name:</span><input type="text" ng-model="manufacturer.name">
  <button type="submit">Add</button> <br/>
  </form>
</div> <br />
<a href ng-click="ApplianceModelShow= ((ApplianceModelShow==undefined || ApplianceModelShow==false) ? true : false)">
<i ng-hide="ApplianceModelShow" class="fa fa-chevron-right" aria-hidden="true"></i><i ng-show="ApplianceModelShow" class="fa fa-chevron-down" aria-hidden="true"></i></a>
<h3 class="applianceHeader">Models</h3>
<div ng-show="ApplianceModelShow">
  <div class="multiColList" ng-repeat="model in applianceModels">
  <span>{{model.name}}</span><span>{{model.appliance_manufacturer.name}}</span><span>{{model.appliance_type.type}}</span><a href ng-click="deleteApplianceModel(model)">Delete</a>
  </div>
  <form ng-submit="createApplianceModel()" class="createForm">
  <span>Appliance Type:</span><select ng-model="applianceModel.type" ng-options='type.type for type in applianceTypes track by type.id'></select>
  <span>Manufacturer:</span><select ng-model="applianceModel.manufacturer" ng-options='manufacturer.name for manufacturer in applianceManufacturers track by manufacturer.id'></select>
  <span>Model Name:</span><input type="text" ng-model="applianceModel.name">
  <button type="submit">Add</button> <br/>
  </form>
</div><br />
<a href ng-click="ApplianceShow= ((ApplianceShow==undefined || ApplianceShow==false) ? true : false)">
<i ng-hide="ApplianceShow" class="fa fa-chevron-right" aria-hidden="true"></i><i ng-show="ApplianceShow" class="fa fa-chevron-down" aria-hidden="true"></i></a>
<h3 class="applianceHeader">Appliances</h3>
<div ng-show="ApplianceShow">
  <div class="multiColList">
    <span>Type</span><span>Manufacturer</span><span>Model</span><span>Serial</span>
  </div>
  <div class="multiColList" ng-repeat="appliance in appliances">
    <span>{{appliance.appliance_model.appliance_type.type}}</span><span>{{appliance.appliance_model.appliance_manufacturer.name}}</span><span>{{appliance.appliance_model.name}}</span><span>{{appliance.serial}}</span><a href ng-click="deleteAppliance(appliance)">Delete</a>
  </div>
  <form ng-submit="createAppliance()" class="createForm">
  <span>Appliance Model:</span><select ng-model="appliance.model" ng-options='(model.appliance_manufacturer.name +" "+ model.name +" "+ model.appliance_type.type) for model in applianceModels track by model.id'></select>
  <span>Serial:</span><input type="text" ng-model="appliance.serial">
  <button type="submit">Add</button> <br/>
  </form>
</div>
