<h4 class="errorMessage">{{error}}</h4>
<h3 class="applianceHeader">System Settings</h3>
<div>
  <div class="multiColList">
    <span>Type</span><span>Value</span>
  </div>
  <div class="multiColList" ng-repeat="setting in systemSettings">
    <span>{{setting.type}}</span><span>{{setting.value}}</span><span><a href ng-click="editSystemSetting(setting)">Edit</a></span><a href ng-click="deleteSystemSetting(setting)">Delete</a>
  </div>
  <form ng-submit="createSystemSetting()" class="createForm">
  <span>Type:</span><input type="text" ng-model="setting.type">
  <span>Value:</span><input type="text" ng-model="setting.value"><br/>
  <button type="submit"><b ng-hide="edit.mode">Add</b><b ng-show="edit.mode">Edit</b></button>
  </form>
</div>
