.createForm input{
  width: 50%;
}
.createForm select{
  width: 50%;
}
.createForm span{
  display: inline-block;
  width: 25%;
  margin-bottom:10px;
  margin-top:10px;
}
.createForm button{
  margin-top:25px;
}
.redX {
  color:red;
  font-weight: bold;
}
.menuBar{
  background-color: black;
  margin-bottom:10px;
  width:100%;
}
.menuBar span{
  display:inline-block;
  padding: 10px 15px 10px 15px;
}
.menuBar span a{
    text-decoration: none;
    font-size: 20;
    font-weight: 300;
}
.menuBar span a:link{
  color:  #b3bcb3;
}
.menuBar span a:visited{
  color:  #b3bcb3;
}
.menuBar span a:hover{
  color:  #d4d659;
}
.menuBar span a:active{
  color:  #edefed;
}
.errorMessage{
  color:red;
  font-weight: bold;
}
.multiColList a{
  float:right;
  text-decoration: none;
}
.multiColList span{
  display:inline-block;
  width:20%;
}
.multiColList {
  padding-left:5%;
  padding-right:5%;
  padding-bottom:2.5%;
}
.applianceHeader
{
  display:inline-block;
  margin-bottom:8px;
  margin-top:2px
}
.fa-chevron-right
{
  color:#000000;
}
.fa-chevron-down
{
  color:#000000;
}
