<h4>{{msg}}</h4>

<a href ng-click="newTenant = ((newTenant==undefined || newTenant==false) ? true : false)">Create New Tenant</a><br /> <br />

<div ng-if="newTenant">
<h3>New Tenant </h3><br />
<form ng-submit="createTenant()" class="createForm">
<span>First Name:</span><input type="text" ng-model="tenant.first_name">
<span>Middle Name:</span><input type="text" ng-model="tenant.middle_name"> <br />
<span>Last Name:</span><input type="text" ng-model="tenant.last_name"> <br />
<span>Identification Number:</span><input type="text" ng-model="tenant.id_number"><br />
<button type="submit">Submit</button> <br/>
</form>

</div>

<form ng-submit="createLease()" class="createForm">

<span>Tenant:</span><select ng-model="lease.tenant" ng-options='(tenant.first_name+" "+tenant.last_name) for tenant in tenants track by tenant.id'></select> <br/>
<span>Rental Unit:</span><select ng-model="lease.rentalUnit" ng-options="rentalUnit.name for rentalUnit in rentalUnits track by rentalUnit.id"></select> <br/>
<span>Rent:</span><input type="text" ng-model="lease.rent"><br />
<span>Deposit:</span><input type="text" ng-model="lease.deposit"><br />
<span>Late Charge</span><input type="text" ng-model="lease.late_charge"><br />
<span>Return Check Charge:</span><input type="text" ng-model="lease.return_check"><br />
<span>Start Date:</span><input type="date" ng-model="lease.start_date" data-date-format="mm/dd/yyyy"><br />
<span>Late Charge Days:</span><input type="text" ng-model="lease.late_charge_days"><br />
<span>Term (in Months):</span><input type="text" ng-model="lease.term"><br />
<span>Max Occupants:</span><input type="text" ng-model="lease.max_occupants"><br />
<span>Per Additional Occupant:</span><input type="text" ng-model="lease.per_additional_occupant"><br />
<span>Appliance(s):</span>
  <div ng-repeat="type in lease.appliance_types track by $index">
    <span>{{type.type}}</span><a href ng-click="removeLeaseApplianceType(type)">Remove</a>
  </div>
<br /><select ng-model="appliance_type" ng-options='type.type for type in applianceTypes track by type.id'></select><a href ng-click="addApplianceType(appliance_type)">Add</a><br/>
<div ng-if="setCurrentlyOwed"><span>Currently Owed:</span><input type="number" ng-model="lease.owed"><br /></div>
<button type="submit"  class="btn btn-success">Submit</button>
</form>
