<h4>{{msg}}</h4>

<h3>Tenant </h3><br />
<form ng-submit="createTenant()" class="createForm">
<span>First Name:</span><input type="text" ng-model="tenant.first_name">
<span>Middle Name:</span><input type="text" ng-model="tenant.middle_name"> <br />
<span>Last Name:</span><input type="text" ng-model="tenant.last_name"> <br />
<span>Identification Number:</span><input type="text" ng-model="tenant.id_number"><br />
<button type="submit">Submit</button> <br/>
</form>
