<h4>{{msg}}</h4>
<h3>Tenants</h3>
<table>
    <tr ng-repeat="tenant in tenants">
      <td>{{tenant.first_name}} {{tenant.middle_name}} {{tenant.last_name}}</td>
      <td>{{tenant.address.street}} {{tenant.address.city}} {{tenant.address.state}} {{tenant.address.zip}} </td>
      <td><a href ng-click="deleteTenant(tenant)">Delete</a>
    </tr>
</table>
