<h4>{{msg}}</h4>

<form ng-submit="createRentalUnit()" class="createForm">
<span>Property:</span><select ng-model="rentalUnit.property" ng-change="updateRUAddress(rentalUnit.property)"
 ng-options="property.name for property in properties track by property.id">
</select> <br/>


<span>RentalUnit Name:</span><input type="text" ng-model="rentalUnit.name"><br />
<h2>Address</h2>
<span>Street:</span><input type="text" ng-model="rentalUnit.address.street"><br />
<span>Apartment:</span><input type="text" ng-model="rentalUnit.address.apartment"><br />
<span>City:</span><input type="text" ng-model="rentalUnit.address.city"><br />
<span>State:</span><input type="text" ng-model="rentalUnit.address.state"><br />
<span>Zip Code:</span><input type="text" ng-model="rentalUnit.address.zip"><br />
<button type="submit"  class="btn btn-success">Submit</button>
</form>
