<h4>{{msg}}</h4>

<form ng-submit="createBuildingRentalUnits()" class="createForm">
<span>Property:</span><select ng-model="rentalUnit.property" ng-change="updateRUAddress(rentalUnit.property)"
 ng-options="property.name for property in properties track by property.id">
</select> <br/>
<span>Floors:</span><input ng-change="getBuildingFloors(floors)" type="number" min="0" ng-model="floors"/><br/>

<div ng-repeat="floor in building.floors track by $index">
<h5>{{formatThFloor($index)}} Floor</h5>
<span>Start number:</span><input type="number" min="0"; ng-model="floor.startApt"/><br/>
<span>End number:</span><input type="number" min="0" ng-model="floor.endApt"/><br/>
<span>increment by:</span><input type="number" min="0" ng-model="floor.increment"/>
</div>
<br />
<h2>Address</h2>
<span>Street:</span><input type="text" ng-model="rentalUnit.address.street"><br/>
<span>City:</span><input type="text" ng-model="rentalUnit.address.city"><br />
<span>State:</span><input type="text" ng-model="rentalUnit.address.state"><br/>
<span>Zip Code:</span><input type="text" ng-model="rentalUnit.address.zip"><br />
<button type="submit" >Submit</button>
</form>
