<h4>{{msg}}</h4>
Rental Units
<table>
  <tr>
    <th>Property Name</th>
    <th>Rental Unit Address</th>
    <th></th>
  </tr>

    <tr ng-repeat="ru in rentalUnits">
      <td>{{ru.property.name}}</td>
      <td>{{ru.address.street}} <span ng-if="ru.address.apartment">Apt {{ru.address.apartment}}</span> {{ru.address.city}} {{ru.address.state}} {{ru.address.zip}} </td>
      <td><a href ng-click="deleteRU(ru)">Delete<a>
    </tr>
</table>
