<h3>{{msg}}</h3>

<h1>Login</h1>

<br />



<form ng-submit="login()">

Username: <input type="text" ng-model="email"> <br/>
Password: <input type="password" ng-model="password"> <br/>


<button type="submit"  class="btn btn-success">Submit</button>
</form>
