<h4>{{msg}}</h4>

<h3>User </h3><br />
<form ng-submit="createUser()" class="createForm">
<span>Name:</span><input type="text" ng-model="user.name">
<span>Email:</span><input type="text" ng-model="user.email"> <br />
<span>Password:</span><input type="password" ng-model="user.password"> <br />
<span>Manager?</span><input type="checkbox" ng-model="user.manager"><br />
<span>Administrator?</span><input type="checkbox" ng-model="user.admin"><br />
<button type="submit">Submit</button> <br/>
</form>
