<h4>{{msg}}</h4>
<h3>Users</h3>
<table>
    <tr ng-repeat="user in users" ng-show="user.name != 'superAdmin'">
      <td>Name: {{user.name}}</td>
      <td>Email: {{user.email}}</td>
      <td>Manager? <span ng-if="!user.manager" class="redX">x</span>{{user.manager ?  "&#10004;" : ""}}</td>
      <td>Administrator? <span ng-if="!user.admin" class="redX">x</span>{{user.admin ? "&#10004;" : ""}}</td>
      <td><a href ng-click="deleteUser(user)">Delete<a>
    </tr>
</table>
