<h4>{{msg}}</h4>

<form ng-submit="createProperty()" class="createForm">
<span>Property Name:</span><input type="text" ng-model="property.name"><br />
<h2>Address</h2>
<span>Street:</span><input type="text" ng-model="property.address.street"><br/>
<span>City:</span><input type="text" ng-model="property.address.city"><br />
<span>State:</span><input type="text" ng-model="property.address.state"><br/>
<span>Zip Code:</span><input type="text" ng-model="property.address.zip"><br/>

<button type="submit"  class="btn btn-success">Submit</button>
</form>
