<h4>{{msg}}</h4>
Properties
<table>
    <tr ng-repeat="property in properties">
      <td>{{property.name}}</td>
      <td>{{property.address.street}} {{property.address.city}} {{property.address.state}} {{property.address.zip}} </td>
      <td><a href ng-click="deleteProperty(property)">Delete<a>
    </tr>
</table>
